.filterBarContainer{
  padding: 0 2em;
}
.categorySelector {
  text-align: center;
  padding: 1.5em;
  margin: 2em 0;
}

.searchBar {
  padding: 0 1em 0 0;
}

.searchBox {
  border-top: 1px solid lightgrey;
  padding: 2em 0;
}

@media (max-width: 480px) {
  .tagInputBox {
    display: none;
  }
}
