/*
@media (max-width: 992px) {
  .tagSearch {
    display: none;
  }
  .filterBarContainer{
    border-bottom: 1px solid gainsboro;
    margin-bottom: 2em;
    padding-bottom: 25px;
    margin: 0 2em;
  }
  .goBtn {padding-left: 5px;}
}
*/

.filterBarContainer {
  padding: 13px 65px 25px 65px;
}
.categorySelector {
  text-align: center;
  padding: 1.5em;
  margin: 2em 0;
}
.category-selector .select {
  border-width: 2px;
}

.searchBar.form-control {
  margin-left: -13px;
}

.searchBox {
  padding: 2em 0 4em 0;
}



.filterCol.javascriptStyle{
  background: rgba(211, 195, 20, .1)
}
.filterCol.cssStyle{
  background: rgba(120, 129, 207, .1);
}
.filterCol.htmlStyle{
  background: rgba(239, 101, 42, .1);
}
.filterCol.rubyStyle{
  background: rgba(204, 52, 45, .1);
}
.filterCol.goStyle{
  background: rgba(208, 182, 152, .1);
}
.filterCol.pythonStyle{
  background: rgba(30, 65, 95, .1);
}
.filterCol.swiftStyle{
  background: rgba(252, 72, 49, .1);
}
.filterCol.generalStyle{
  background: rgba(86, 141, 109, .1);
}
.filterCol.userStyle{
  background: rgba(101, 113, 131, .1)
}
