.filterBarContainer{
  margin: 0 2em;
  margin-left: 3em;
}
.categorySelector {
  text-align: center;
  padding: 1.5em;
  margin: 2em 0;
}

.searchBar {
  padding: 0 1em 0 0;
}

.searchBox {
  padding: 2em 0 3em 0;
}

@media (max-width: 992px) {
  .tagSearch {
    display: none;
  }
  .filterBarContainer{
    border-bottom: 1px solid gainsboro;
    margin-bottom: 2em;
    padding-bottom: 1em;
    margin: 0 2em;
  }
}
