.navbar-inverse.javascriptStyle{
  background: rgb(211, 195, 20)
}
.navbar-inverse.cssStyle{
  background: rgb(120, 129, 207);
}
.navbar-inverse.htmlStyle{
  background: rgb(239, 101, 42);
}
.navbar-inverse.rubyStyle{
  background: rgb(204, 52, 45);
}
.navbar-inverse.goStyle{
  background: rgb(208, 182, 152);
}
.navbar-inverse.pythonStyle{
  background: rgb(30, 65, 95);
}
.navbar-inverse.swiftStyle{
  background: rgb(252, 72, 49);
}
.navbar-inverse.generalStyle{
  background: rgb(86, 141, 109);
}
.navbar-inverse.userStyle{
  background: #657183;
}
.navbar-inverse.generalStyle{
  background: rgb(86, 141, 109);
}
