.navbar-inverse.javascriptStyle{
  background: rgb(240, 219, 79)
}
.navbar-inverse.cssStyle{
  background: rgb(120, 129, 207);
}
.navbar-inverse.htmlStyle{
  background: rgb(228, 77, 38);
}
.navbar-inverse.rubyStyle{
  background: rgb(204, 52, 45);
}
.navbar-inverse.goStyle{
  background: rgb(208, 182, 152);
}
.navbar-inverse.pythonStyle{
  background: rgb(30, 65, 95);
}
.navbar-inverse.swiftStyle{
  background: rgb(251, 161, 61);
}
.navbar-inverse.generalStyle{
  background: rgb(86, 141, 109);
}
.navbar-inverse.userStyle{
  background: #657183;
}
.navbar-inverse.generalStyle{
  background: rgb(86, 141, 109);
}
span.startCodingName {
  line-height: 10px;
}
.nav.navbar-right {
  margin-top: 0;
}
.login-btn {
  margin-top: 3px;
  background-color: #88C543;
  height: 25px;
  font-size: 14px;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: #AFD469;
}
.navbar-inverse .navbar-nav>li>a:active, .navbar-inverse .navbar-nav>li>a:active {
  background-color: #AFD469;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:focus {
  background-color: #AFD469;
}
.navbar-nav>li>a.login-btn {
  line-height: 4px;
}
.sc-logo {
  margin-top: -5px;
}
.navTitle {
  color: #FFF;
  letter-spacing: 1px;
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}
