.resourcePage {
  background: #FEFEFE;
}
.resourceContent {
  min-height: 100vh;
}
.resourceContent>.comment{
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.resourcePage .ReactTags__tag {
  cursor: auto;
}

.resourcePage .ReactTags__selected {
  margin: .5em 0;
}

.panel-body.resourceBody {
  background: rgb(255, 255, 255);
  padding: 30px 30px 0 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.replyResourceButton {
  float: right;
}
.resourceFooter {
  padding: 0 20px;
}
.resourceTitle {
  font-size: 25px;
  margin-bottom: 0;
}

h4.resourceTitle.resourcePage {
    background-color: white;
    border: none;
    padding-bottom: 15px;
}
span.timeStamp.resourceTimeStamp {
    font-style: italic;
}
