.resourceControlBar {
  margin-top: -15px;
}
.resourceCard {
    margin: 1em;
    padding: 2em 1em 1em 1em;
    border-bottom: 1px solid lightgrey;
    min-height: 120px
}
.resourceCardHeader {
  margin-top: -20px;
  margin-bottom: 0;
}
.resourceCardTitle {
  width: calc(100% - 40px);
  display: inline-block;
  margin: 0 !important;
}
.resourceCardHeader > .resourceCardTitle > strong > a {
  color: #333;
}
.breadcrumb {
  padding: 0;
}
ol.breadcrumb.resourceBreadCrumb {
  background-color: transparent;
  border: antiquewhite;
  font-size: 15px;
  margin: 10px 0 10px 0;
}
ol.breadcrumb>li+li:before {
  color: #222;
  content: "•";
  font-size: 20px;
}
.breadcrumb.resourceBreadCrumb > li {
  margin-bottom: 10px;
  margin-top: 10px;
}
.breadcrumb > span{
  float: left;
  color: gray;
}
.resourceTagContainer {
  margin-left: -3px;
}
