$primary-color: #4caf50;
$secondary-color: #F44336;

body {
  color: #1F4832;
  background: #fcfffc;
}

.floatingActionButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #F44336;
  width:60px;
  height:60px;
  border-radius:100%;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.floatingActionButton span {
  position: absolute;
  -ms-transform: translate(-10px, -32px);
  -webkit-transform: translate(-10px, -32px);
  transform: translate(-10px, -32px);
}

.floatingActionButton:hover {
  background-color: #D32F2F;
}

.newTopicTitle {
  margin-bottom: 1em;
}

.spinnerContainer {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

textarea {
  padding: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid lightgrey !important;
}

.navbar-inverse {
  background: #4caf50;
  color: #FFF;
  margin-bottom: 0;
  z-index: 1000;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: #FFF !important;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover {
    color: peachpuff;
}

#Register, #Logout, #welcome {
  display: none;
}

#newTopicModal {
  z-index: 2000;
  position: fixed;
  top: 15%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.main{
  position: relative;
  height: calc(100vh - 64px);
  margin-bottom: 0;
  overflow-y: scroll;
}
.displayTopic {
  overflow: hidden;
}
.active {
  position: fixed;
  background: white;
  height: calc(100vh - 64px);
  top: 64px;
  right: 0;
  left: 0;
  margin:auto;
  padding-bottom: 1em;
  overflow-y: scroll;
}
a.disabled {
    pointer-events: none;
    color: lightgrey;
}
.topicContent {
  display: none;
}
.active .topicContent {
  display: block;
}
.topicTitle {
  margin: 0px;
  padding: 0.5em 1em;
  text-align: center;
}
.panel-body.topicBody {
    border-left: 26px solid green;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    border-right: 2px solid green;
    background: rgba(213, 232, 204, 0.22);
    padding: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.topicHead:hover{
  background-color: #F5F5F5;
  cursor: pointer;
}

.active .topicHead {
  background-color: #F5F5F5;
}

.closeTopic {
  display: none;
}
.active .closeTopic {
  display: inline;
  float: right;
  color: #4caf50;
}
.replyTopicButton {
    float: right;
}
.topicFooter {
    padding: 20px;
}
.comment {
  /*border: 1px solid grey;*/
  margin: 1em 0 0 1em;
  padding: 1em .5em 1em 1em;
}

.panel-footer {
  margin: 0 15px;
  padding: 0px;
  border-top: 1px solid #4caf50;
  background: white;
  font-style: italic;
}

.breadcrumb {
  text-align: right;
}

.breadcrumb > span{
  float: left;
  color: gray;
}

.new-comment-buttons {
  float: right;
}

.new-comment-buttons .btn {
  margin-left: 1em;
}
