
.voteBox {
  text-align: center;
  float: right;
  font-size: 20px;
  display: inline-block;
  width: 35px;
}

.voteBtn {
  color: lightgrey;
  padding: 0 .2em;
  cursor: pointer;
}

.disabled .voteBtn{
  color: lightgrey;
  cursor: default;
}

.up .voteBtn:first-child{
  color: yellowgreen;
}
.down .voteBtn:nth-child(3){
  color: tomato;
}
