$primary-color: #4caf50;

body {
  color: #1F4832;
  background: #fcfffc;
}

textarea {
  padding: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid #4caf50;
}

.navbar-inverse {
  background: #4caf50;
  color: #FFF;
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: #FFF !important;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover {
    color: peachpuff;
}

#Register, #Logout, #welcome {
  display: none;
}

.main{
  position: relative;
  height: calc(100vh - 64px);
  overflow-y: scroll;
}
.displayTopic {
  overflow: hidden;
}
.active {
  position: fixed;
  background: white;
  height: calc(100vh - 64px);
  top: 64px;
  right: 0;
  left: 0;
  margin:auto;
  padding-bottom: 1em;
  overflow-y: scroll;
}
.topicHead > h3{
  margin: 0px;
  padding: 0.5em 1em;
  text-align: center;
}
.topicHead:hover{
  background-color: #E4E4E4;
  cursor: pointer;
}

.comment {
  /*border: 1px solid grey;*/
  margin: 1em 0 0 1em;
  padding: 1em .5em 1em 1em;
}

.panel-footer {
  margin: 0 15px;
  padding: 0px;
  border-top: 1px solid #4caf50;
  background: white;
  font-style: italic;
}

.breadcrumb {
  text-align: right;
}

.breadcrumb > span{
  float: left;
  color: gray;
}

.new-comment-buttons {
  float: right;
}

.new-comment-buttons .btn {
  margin-left: 1em;
}
